<!-- Если вам покажется, что эти пароли вам надоели, вы можете их сменить. Щелкните по приведенной ниже ссылке, и вам придет письмо с четырьмя новыми паролями. (После того, как вы воспользуетесь одним из новых паролей, старые работать перестанут.)

Получить новые пароли: <%# = url_for :controller => 'accounts', :action => 'change_passwords', :cookie => 123 %> -->

