Вы читаете тестовое сообщение от олимпиадой тестирующей системы.

Если оно до ваш дошло, значит, почта работает нормально.

Тема была такая: "<%= @text %>".

You are reading a test message of the olympiad testing system.

It was sent in UTF-8 encoding.
