body {
	font-size: 11pt; 
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	line-height: 160%; 
	background: white;
	color: black;
}

h1, h2, h3, h4 {
	font-family: Helvetica, Arial, sans-serif;
}

#footer, #right, #action_nav_container, #project_navigation, #goplan_logo {
	display: none;
}

#project_title {
	display: block;
}

a, a:visited {
	color: #666;
	text-decoration: none;
}

div#content {
	padding-top: 1em;
	border-top: 4px solid #000;
}

#header .right {
	display: none;
}

th {
	text-align: left;
}
