<html>
<head>
<title>Решение <%= @submittion.id %></title>
<style>
body { font: 9pt Verdana; }
p { font-weight: bold; }
</style>
</head>
<body>
<pre>
<b>Посылка номер:  <%= @submittion.id %></b>
<b>Задача:         <% unless @submittion.problem.letter.empty? %><%= @submittion.problem.letter %> — <% end %><%= @submittion.problem.display_name %></b>
<b>Команда:        <%= @submittion.team.id %> — <%= @submittion.team.name %></b>

<%= h @submittion.text %>
</pre>
</body>
</html>