<%= error_messages_for 'form' %>

<!--[form:form]-->
<p><label for="form_title">Название</label><br/>
<%= text_field 'form', 'title'  %></p>

<p><label for="form_comment">Пояснение для заполняющих</label><br/>
<%= text_area 'form', 'comment'  %></p>
<!--[eoform:form]-->

