<h1>Listing tests</h1>

<table>
  <tr>
    <th>Problem</th>
    <th>Position</th>
    <th>Input file</th>
    <th>Answer file</th>
  </tr>
  
<% for tests in @tests %>
  <tr>
    <td><%=h tests.problem_id %></td>
    <td><%=h tests.position %></td>
    <td><%=h tests.input_file %></td>
    <td><%=h tests.answer_file %></td>
    <td><%= link_to 'Show', tests_path(tests) %></td>
    <td><%= link_to 'Edit', edit_tests_path(tests) %></td>
    <td><%= link_to 'Destroy', tests_path(tests), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New tests', new_tests_path %>